<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Xin Chào <%= name %> </h1>
    <a href="/user"> User </a>
    <form action="/add" method="POST">
        <br><br>
        <input type="text"  placeholder="Thêm tên bạn">
        <br><br>
        <input type="text" placeholder="Thêm tuổi bạn">
        <br><br>
        <button> Add </button>
    </form>
</body>
</html>
<script src="reload/reload.js"> </script>